
<section class="experience">
    <div class="experience-container">
            <div class="experience-container-text">
        <h2 class="experience-title">Coffee Moments</h2>
             <p class="experience-text">Experience the warmth and 
                community of CoffeeJoy.
             </p>
             </div>
              
             <ul class="experience-list">
                     <li class="experience-item">
                         <img 
                         srcset="
                         /images/experience-1-1x.jpg 1x,
                         /images/experience-1-2x.jpg 2x
                         "
                         src="/images/experience-1-1x.jpg" 
                         alt=""
                         width="288"
                         height="288">
                    </li>

                     <li class="experience-item">
                            <img
                            srcset="
                            /images/experience-2-1x.jpg 1x,
                            /images/experience-2-2x.jpg 2x"
                             src="/images/experience-2-1x.jpg"
                            alt=""
                            width="288"
                            height="288">
                    </li>
                    <li class="experience-item experience-item-middle">
                            <img
                            srcset="
                            /images/experience-3-1x.jpg 1x,
                            /images/experience-3-2x.jpg 2x"
                             src="/images/experience-3-1x.jpg"
                            alt=""
                            width="288"
                            height="162">
                    </li>

                    <li class="experience-item experience-item-middle">
                            <img
                            srcset="
                            /images/experience-4-1x.jpg 1x,
                            /images/experience-4-2x.jpg 2x"
                             src="/images/experience-4-1x.jpg"
                            alt=""
                            width="288"
                            height="162">
                    </li>

                    <li class="experience-item experience-item-middle">
                            <img
                            srcset="
                            /images/experience-5-1x.jpg 1x,
                            /images/experience-5-2x.jpg 2x"
                             src="/images/experience-5-1x.jpg"
                            alt=""
                            width="288"
                            height="288">
                    </li>


                    <li class="experience-item">
                         <img
                         srcset="
                         /images/experience-6-1x.jpg 1x,
                         /images/experience-6-2x.jpg 2x"
                          src="/images/experience-6-1x.jpg"
                            alt=""
                            width="288"
                            height="288">
                    </li>

                    <li class="experience-item">
                         <img
                         srcset="
                         /images/experience-7-1x.jpg 1x,
                         /images/experience-7-2x.jpg 2x"
                          src="/images/experience-7-1x.jpg"
                            alt=""
                            width="288"
                            height="391">
                    </li>

                </ul>
</div>
</section>