
<section class="experience" id="experience">
    <div class="experience-container container">
            <div class="experience-container-text">
                   <h2 class="experience-title">Coffee Moments</h2>
                    <p class="experience-text">Experience the warmth and 
                      community of CoffeeJoy.
                     </p>
             </div>
              
             <ul class="experience-list">
                     <li class="experience-item">
                         <img 
                         srcset="
                         /images/experience-1-1x.jpg 1x,
                         /images/experience-1-2x.jpg 2x
                         "
                         src="/images/experience-1-1x.jpg" 
                         alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art"
                         width="288"
                         height="288">
                    </li>

                     <li class="experience-item">
                            <img
                            srcset="
                            /images/experience-2-1x.jpg 1x,
                            /images/experience-2-2x.jpg 2x"
                             src="/images/experience-2-1x.jpg"
                            alt="A breakfast scene with a filter coffee in a glass server"
                            width="288"
                            height="288">
                    </li>
                    <li class="experience-item experience-item-middle">
                            <img
                            srcset="
                            /images/experience-3-1x.jpg 1x,
                            /images/experience-3-2x.jpg 2x"
                             src="/images/experience-3-1x.jpg"
                            alt="A quiet café corner with a beige armchair and a small round wooden table."
                            width="288"
                            height="162">
                    </li>

                    <li class="experience-item experience-item-middle">
                            <img
                            srcset="
                            /images/experience-4-1x.jpg 1x,
                            /images/experience-4-2x.jpg 2x"
                             src="/images/experience-4-1x.jpg"
                            alt="Hands of a barista gently pouring steamed milk into a cup of espresso"
                            width="288"
                            height="162">
                    </li>

                    <li class="experience-item experience-item-middle">
                            <img
                            srcset="
                            /images/experience-5-1x.jpg 1x,
                            /images/experience-5-2x.jpg 2x"
                             src="/images/experience-5-1x.jpg"
                            alt="A wide view of the CoffeeJoy interior — wooden furniture, soft cushions, warm pendant"
                            width="288"
                            height="288">
                    </li>


                    <li class="experience-item">
                         <img
                         srcset="
                         /images/experience-6-1x.jpg 1x,
                         /images/experience-6-2x.jpg 2x"
                          src="/images/experience-6-1x.jpg"
                            alt="Two coffee cups on a small round table outdoors, surrounded by potted plants and greenery."
                            width="288"
                            height="288">
                    </li>

                    <li class="experience-item">
                         <img
                         srcset="
                         /images/experience-7-1x.jpg 1x,
                         /images/experience-7-2x.jpg 2x"
                          src="/images/experience-7-1x.jpg"
                            alt="A takeaway coffee cup with a kraft sleeve and CoffeeJoy branding placed on a wooden bench in a park."
                            width="288"
                            height="391">
                    </li>

                </ul>
</div>
</section>