<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">

      <div class="footer-social-wrapper">

        <a class="footer-link-logo" href="/index.html">
          <svg class="footer-logo" width="196" height="84">
            <use href="/images/icons.svg#icon-logo-dark"></use>
          </svg>
        </a>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-social-link" href="https://www.facebook.com/" target="_blank"
              rel="noopener noreferrer nofollow">
              <svg class="footer-social-icon" width="32" height="32">
                <use href="/images/icons.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="https://www.instagram.com/" target="_blank"
              rel="noopener noreferrer nofollow">
              <svg class="footer-social-icon" width="32" height="32">
                <use href="/images/icons.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="https://x.com/" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="footer-social-icon" width="32" height="32">
                <use href="/images/icons.svg#icon-X"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <ul class="footer-list">
        <li class="footer-item"><a class="footer-link" href="#welcome">About us</a></li>
        <li class="footer-item"><a class="footer-link" href="#quality">Benefits</a></li>
        <li class="footer-item"><a class="footer-link" href="#experience">Gallery</a></li>
        <li class="footer-item"><a class="footer-link" href="#testimonial">Testimonial</a></li>
        <li class="footer-item"><a class="footer-link" href="#location">Location</a></li>
      </ul>
    </div>


    <p class="footer-subtitle"> &copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>