 <header class="container header-container" id="navigation">
      <a class="logo" href="index.html">
        <svg width="84" height="36">
          <use href="../images/icons.svg#icon-logo-dark"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="burger-btn">
        <svg width="24" height="24">
          <use href="../images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </header>
