<section class="location" id="location">
  <div class="container location-container">
    <div class="location-content">
      <p class="location-subtitle">Find</p>
      <h2 class="location-title">LOCATION</h2>
      <p class="location-description">Visit us at our cozy coffee shop!</p>
      <ul class="contact-list">
        <li class="contact-item">
          <a href="mailto:hello@coffeejoy.com" class="contact-icon-link">
            <svg class="contact-icon" width="32" height="32">
              <use href="/images/icons.svg#icon-envelope"></use>
            </svg>
          </a>
          <div class="contact-info">
            <p class="contact-label">EMAIL</p>
            <a href="mailto:hello@coffeejoy.com" class="contact-link"
              >hello@coffeejoy.com</a
            >
          </div>
        </li>
        <li class="contact-item">
          <a href="tel:+1555123-5321" class="contact-icon-link">
            <svg class="contact-icon" width="32" height="32">
              <use href="/images/icons.svg#icon-phone"></use>
            </svg>
          </a>
          <div class="contact-info">
            <p class="contact-label">PHONE</p>
            <a href="tel:+1555123-5321" class="contact-link"
              >+1 (555) 123-5321</a
            >
          </div>
        </li>
        <li class="contact-item">
          <a
            href="https://maps.app.goo.gl/7rnQcu19QPaV75Q16"
            class="contact-icon-link"
          >
            <svg class="contact-icon" width="32" height="32">
              <use href="/images/icons.svg#icon-map"></use>
            </svg>
          </a>
          <div class="contact-info">
            <p class="contact-label">OFFICE</p>
            <address class="contact-address">
              263 Newbury St, Boston, MA 02116, USA
            </address>
          </div>
        </li>
      </ul>
      <a
        href="https://maps.app.goo.gl/7rnQcu19QPaV75Q16"
        class="location-direction"
        target="_blank"
        rel="noopener noreferrer"
        >Get Directions
        <svg width="24" height="24">
          <use href="/images/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6689276407874!2d-71.08594152503238!3d42.34958143576523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1770322932037!5m2!1suk!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
