<div class="mobile">
      <div class="burger-container">
        <div class="mobile-logo-btn">
          <a class="mobile-logo" href="index.html">
            <svg width="84" height="36">
              <use href="/images/icons.svg#icon-logo-dark"></use>
            </svg>
          </a>
          <button class="mobile-close-btn" type="button">
            <svg width="24" height="24">
              <use href="/images/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <nav class="mobile-nav">
        <ul class="mobile-list">
          <li class="mobile-item">
            <a class="mobile-link" href="#welcome">About us</a>
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#quality">Benefits</a>
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#experience">Gallery</a> 
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#testimonial">Testimonial</a>
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>
      </div>
    </div>
