<div class="mobile">
      <div class="burger-container">
        <div class="mobile-logo-btn">
          <a class="mobile-logo" href="index.html">
            <svg width="64" height="36">
              <use href="../images/icons.svg#icon-logo-dark"></use>
            </svg>
          </a>
          <button class="mobile-close-btn" type="button">
            <svg widh="24" height="24">
              <use href="../images/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <nav class="mobile-nav">
        <ul class="mobile-list">
          <li class="mobile-item">
            <a class="mobile-link" href="#">About us</a>
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#">Benefits</a>
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#">Gallery</a> 
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#">Testimonial</a>
          </li>
          <li class="mobile-item">
            <a class="mobile-link" href="#">Location</a>
          </li>
        </ul>
      </nav>
      </div>
    </div>