<section class="subscribe">
    <div class="container subscribe-container">
        <div class="sub-left">
            <h2 class="sub-title">Join Our Coffee Community</h2>
            <p class="sub-text">Experience the joy of coffee delivered right to your door. Sign up today!</p>
            <form class="sub-form">
                <div class="input-container">
                    <input type="email" name="form-email" id="form-email" class="input-form-email"
                        placeholder="Your Email Here" required>
                    <label class="label-form-email" for="form-email"></label>
                    <span class="input-error-text">Invalid email adress. Please try again.</span>
                </div>
                <button class="button-send" type="submit">Subscribe<svg class="svg-send" width="24" height="24">
                        <use href="/images/icons.svg#icon-chevrons-right"></use>
                    </svg></button>
                <p class="sub-input-text">By clicking Get Started, you agree to our
                    Terms
                    and Conditions.</p>
            </form>
        </div>
        <div class="sub-right"><img class="sub-img" srcset="/images/subscribe-1x.jpg 1x, /images/subscribe-2x.jpg 2x"
                src="/images/subscribe-1x.jpg" alt="subscribe-img" width="704" height="400">
        </div>
    </div>
</section>