<section class="welcome">
    <div class="container welcome-container">
        <div class="wel-about">
            <div class="wel-about-left">
                <p class="text-welcome">Welcome</p>
                <h2 class="wel-title">Our Journey: Passion for Quality Coffee</h2>
            </div>
            <div class="wel-about-right">
                <p class="wel-text">At CoffeeJoy, we believe that every cup tells a story. Our mission is to
                    bring
                    you
                    the finest coffee experiences,
                    crafted with care and dedication. We are committed to sourcing high-quality beans and
                    roasting
                    them
                    to perfection,
                    ensuring each sip is a delight.</p>
                <a href="#location" class="button-find-location">Find location <svg class="svg-find" width="24"
                        height="24">
                        <use href="../images/icons.svg#icon-map-pin"></use>
                    </svg></a>
            </div>
        </div>
        <div class="wel-img-wrapper">
            <img class="wel-img" srcset="./images/welcome-1x.jpg 1x, ./images/welcome-2x.jpg 2x"
                src="./images/welcome-1x.jpg" alt="welcome-img" width="1312" height="738">
        </div>
    </div>
</section>