<section class="welcome-section">
  <div class="container">
    <div class="welcome-header">
      <div class="welcome-container">
        <p class="welcome-tagline">Welcome</p>

        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-container">
        <p class="welcome-paragraph">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="#location" class="welcome-btn">
          Find location
          <svg class="welcome-btn-svg" width="24" height="24">
            <use href="/images/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>

    <picture>
      <source
        srcset="/images/welcome-1x.jpg 1x, /images/welcome-2x.jpg 2x"
        type="image/jpeg"
      />
      <img
        src="/images/welcome-1x.jpg"
        alt="barista making coffee with a French press"
        class="welcome-image"
      />
    </picture>
  </div>
</section>
