body {
    font-family: "Quicksand", sans-serif;
    color: #0b0803;
    background-color: #e0cbb4;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

h2 {
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
}