.experience {
   padding: 64px 0;
}

.experience-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-container-text {
    width: 288px;
    height: 164px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.experience-title {
    text-transform: uppercase;
font-size: 36px;
text-align: center;
color: #0b0803;
white-space: normal;
}

.experience-text {
text-align: center;
color: #0b0803;
margin: 0;
white-space: normal;
}


.experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;

}

.experience-item:nth-child(7)
 {
    object-fit: cover;
    height: 391px;
}

.experience-item img {
    border-radius: 32px;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.experience-list {
     display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

@media screen  and (min-width: 768px) {

    .experience {
        padding: 64px 32px;
    }
    .experience-container-text {
    max-width: 768px;}

.experience-title {
     white-space: nowrap;
}
.experience-text {
    white-space: nowrap;
}

    .experience-list {
        display: grid;
        grid-template-columns: repeat(2, 336px);
        column-gap: 32px;
        row-gap: 32px;
        justify-content: center;
    }

    .experience-item {
        width: 100%;
    }
    .experience-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .experience-item:nth-child(1),
     .experience-item:nth-child(2),
     .experience-item:nth-child(5),
      .experience-item:nth-child(6)
    {
height: 336px;
    }
    .experience-item:nth-child(3),
     .experience-item:nth-child(4)
     {
        height: 189px;
     }
     
     .experience-item:nth-child(7) {
        grid-column: 1 / -1;
        height: 391px;
        justify-self: center;
}
}

@media screen  and (min-width: 1158px) {

    .experience {
        padding: 64px;
    }

    .experience-title {
        font-size: 48px;
       
    }

        .experience-list {   
         
            display: grid;
            align-items: start;
            grid-template-columns: repeat(3, 416px);
            grid-template-areas: 
            
            "one three six"                   
            "two four seven"                    
            ".   five   .";
        }


.experience-item {
   overflow: hidden;
   aspect-ratio: 1 / 1;
}
    

         .experience-item:nth-child(1) {grid-area: one;}
     .experience-item:nth-child(2) {grid-area: two;}
     .experience-item:nth-child(3) {grid-area: three;}
     .experience-item:nth-child(4) {grid-area: four;}
     .experience-item:nth-child(5) {grid-area: five;}
      .experience-item:nth-child(6) {grid-area: six;}
      .experience-item:nth-child(7) {grid-area: seven;}


      .experience-item:nth-child(3),
     .experience-item:nth-child(4)
     {
        height: 234px;
     }
     
     .experience-item:not(:nth-child(3)):not(:nth-child(4)) {
        height: 416px;
     } 
    
     .experience-item-middle:nth-of-type(4) {
        transform: translateY(-182px);
     }
     .experience-item-middle:nth-of-type(5) {
        transform: translateY(-364px);
     }
        
}













