.footer {
  background-color: #b58869;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #c29d84;
  border-radius: 40px;
  padding: 32px 46px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  margin-bottom: 32px;

}

.footer-social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer-link-logo {
  display: inline-block;
  width: 196px;
  height: 84px;
  margin-bottom: 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo {
  width: 100%;
  height: auto;
  fill: #0B0803;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;

}

.footer-social-item {

  width: 32px;
  height: 32px;
}

.footer-social-link {
  display: inline-block;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #0b0803;
  width: 100%;
  height: 100%;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

.footer-item {
  text-align: center;

  width: 100%;
}

.footer-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-link-logo:hover,
.footer-link-logo:focus,
.footer-link:hover,
.footer-link:focus,
.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.5;
}

.footer-link,
.footer-link:active,
.footer-social-link:active {
  opacity: 0.7;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    padding-right: 124px;
    padding-left: 124px;
  }



  .footer-link-logo {
    width: 84px;
    height: 36px;
    margin: 0 40px 0 0;
  }

  .footer-social-list {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .footer-social-item {
    width: 24px;
    height: 24px;
  }

  .footer-list {
    flex-direction: row;
    justify-content: space-between;
    max-width: 456px;
  }

  .footer-item {
    text-align: start;
    width: auto;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .footer-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 48px;
    padding-left: 48px;
  }

  .footer-social-wrapper {
    margin: 0;
  }

  .footer-list {
    margin: 0;
  }

}