.header-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  padding: 18px 0;
}

.nav {
  display: none;
}

.burger-btn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav-list {
    display: flex;
    gap: 32px;
  }
  .nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #0B0803;
    transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #0B080399;
  }
}