.hero {
  padding: 108.5px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/hero-bg-1x.jpg');

}



.hero-container {
  display: block;
}

.hero-title {
  font-family: Aboreto;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  width: 256px;
  margin-bottom: 24px;
  color: #ffffff;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  width: 256px;
  margin-bottom: 32px;
  color: #ffffff;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 44px;
  background-color: #6f4e37;
  color: #ffffff;
  border-radius: 100px;
  border: none;
  box-shadow:
    0px 1px 2px 0px rgba(11, 8, 3, 0.05),
    inset 0px 0px 0px 1px rgba(11, 8, 3, 0.15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #6f4e3780;
  color: #ffffff80;
}

.hero-btn:active {
  box-shadow: none;
}

@media (min-width: 768px) {
  .hero {

    padding: 311.5px 176px 311.5px 32px;
  }

<<<<<<< HEAD
=======
  .hero-container p {
    width: 560px;
  }

>>>>>>> main
  .hero-title {
    width: 560px;
  }

<<<<<<< HEAD
  .hero-text {
    width: 560px;
  }
=======
>>>>>>> main
}

@media (min-width: 1440px) {
  .hero {
    padding: 259px 816px 259px 64px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
<<<<<<< HEAD
=======
}

@media screen and (min-resolution: 2x),
(-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/images/hero-bg-2x.jpg');
  }
>>>>>>> main
}