.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #e0cbb4;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.burger-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 26.5px;
  padding-right: 24px;
  padding-top: 18px;
}

.mobile-logo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}

.mobile-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-link:active {
    color: #0B0803B3;
}

.hero-container {
  padding: 108.5px 0;
  display: block;
}

.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  max-width: 256px;
  margin-bottom: 24px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0em;
  width: 256px;
  margin-bottom: 32px;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 44px;
  background-color: #6f4e37;
  color: #ffffff;
  box-shadow:
    0px 1px 2px 0px var(--OpacityNeutralDarkest5),
    0px -2px 1px 0px #00000033 inset,
    0px 0px 0px 1px var(--OpacityNeutralDarkest15) inset,
    0px 2px 1px 0px #ffffff40 inset,
    0px 32px 24px 0px #ffffff0d inset;
  border-radius: 100px;
  border: none;
}

@media (min-width: 768px) {
  .hero-container {
    padding: 311.5px 0;
  }
  .hero-title {
    max-width: 560px;
  }
  .hero-text {
    max-width: 560px;
  }
}

@media (min-width: 1158px) {
  .hero-container{
    padding: 259px 0;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
}