.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #e0cbb4;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.burger-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 26.5px;
  padding-right: 24px;
  padding-top: 18px;
}

.mobile-logo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}

.mobile-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-link:active {
    color: #0B0803B3;
}
