.quality-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.quality-tagline {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 16px;
}

.quality-title {
  font-family: 'Aboreto', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}

.quality-description {
  text-align: center;
  margin-bottom: 32px;
}

.quality-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.quality-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality-image {
  border-radius: 32px;
  overflow: hidden;
  margin-bottom: 32px;
  width: 100%;
}

.quality-list-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.quality-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.quality-item-descr {
  font-size: 16px;
  text-align: center;
}

/* Media requests */

@media only screen and (min-width: 768px) {
  .quality-title {
    max-width: 452px;
    margin: 0 auto 24px;
  }

  .quality-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .quality-item:nth-child(1),
  .quality-item:nth-child(2) {
    width: calc((100% - 24px) / 2);
  }

  .quality-item:nth-child(3) {
    width: 100%;
  }

  .quality-item:nth-child(1) .quality-list-image,
  .quality-item:nth-child(2) .quality-list-image {
    width: 100%;
    height: 194px;
    object-fit: cover;
  }

  .quality-item:nth-child(3) .quality-list-image {
    width: 100%;
    height: 401px;
    object-fit: cover;
  }

  .quality-item:nth-child(1) .quality-subtitle {
    max-width: 284px;
    margin: 0 auto 8px;
  }

  .quality-item:nth-child(1) .quality-item-descr {
    max-width: 294px;
    margin: 0 auto;
  }

  .quality-item:nth-child(2) .quality-subtitle {
    max-width: 340px;
    margin: 0 auto 8px;
  }

  .quality-item:nth-child(2) .quality-item-descr {
    max-width: 340px;
    margin: 0 auto;
  }

  .quality-item:nth-child(3) .quality-subtitle {
    max-width: 704px;
    margin: 0 auto 8px;
  }

  .quality-item:nth-child(3) .quality-item-descr {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .quality-title {
    font-size: 48px;
    max-width: 768px;
    margin: 0 auto 24px;
    text-align: center;
  }

  .quality-description {
    max-width: 768px;
    margin: 0 auto 32px;
    text-align: center;
  }

  .quality-list {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }

  .quality-item,
  .quality-item:nth-child(1),
  .quality-item:nth-child(2),
  .quality-item:nth-child(3) {
    width: calc((100% - 48px) / 3);
  }

  .quality-image {
    margin-bottom: 32px;
  }

  .quality-list-image,
  .quality-item:nth-child(1) .quality-list-image,
  .quality-item:nth-child(2) .quality-list-image,
  .quality-item:nth-child(3) .quality-list-image {
    width: 100%;
    height: 240px;
  }

  .quality-subtitle,
  .quality-item:nth-child(1) .quality-subtitle,
  .quality-item:nth-child(2) .quality-subtitle,
  .quality-item:nth-child(3) .quality-subtitle {
    width: 100%;
    max-width: 421px;
    text-align: center;
    margin: 0 0 8px 0;
  }

  .quality-item-descr,
  .quality-item:nth-child(1) .quality-item-descr,
  .quality-item:nth-child(2) .quality-item-descr,
  .quality-item:nth-child(3) .quality-item-descr {
    width: 100%;
    max-width: 421px;
    margin: 0;
  }
}
