.subscribe-container {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sub-title {
    font-family: "Aboreto", sans-serif;
    font-size: 36px;
    margin-bottom: 24px;
    color: #0b0803;
}

.sub-text {
    margin-bottom: 32px;
}

.sub-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}


.input-form-email {
    display: block;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid rgba(11, 8, 3, 0.15);
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    outline: transparent;
    font-size: 16px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-form-email:focus {
    border: 1px solid #6f4e37;
}

.label-form-email {
    display: none;
}

.input-error-text {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    display: none;
    color: #7f1c1c;
    font-size: 12px;
    white-space: nowrap;
}


.input-form-email::placeholder {
    color: rgba(11, 8, 3, 0.6);
}

.input-form-email:not(:placeholder-shown):invalid~.input-error-text {
    display: block;
}

.input-form-email:not(:placeholder-shown):invalid {
    border-color: #7f1c1c;
    color: #7f1c1c;
}

.input-form-email:not(:placeholder-shown):valid {
    border-color: green;
}


.button-send {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #6f4e37;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:focus,
.button-send:hover {
    opacity: 0.5;
}

.button-send:active {
    box-shadow: none;
    opacity: 1;
}

.svg-send {
    fill: #fff;
}

.sub-input-text {
    font-size: 12px;
    margin-top: 16px;
}

.sub-right {
    border-radius: 40px;
    overflow: hidden;
}

.sub-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .sub-form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .input-container {
        margin-bottom: 16px;
    }

    .input-form-email {
        width: 340px;
        height: 44px;
    }

    .label-form-email {
        bottom: -17px;
    }

    .button-send {
        margin-top: 0;
        width: 158px;
        margin-left: 24px;
    }

    .sub-input-text {
        margin-top: 0;
    }
}

@media screen and (min-width: 1440px) {
    .subscribe-container {
        flex-direction: column;
        flex-direction: row;
        gap: 32px;
    }

    .sub-left {
        flex: 1;
        flex-direction: column;
        padding: 61.5px 0;
    }

    .sub-title {
        font-size: 48px;
    }

    .input-form-email {
        width: 339px;
    }

    .button-send {
        margin-left: 16px;
    }


    .sub-right {
        flex: 1;
    }

    .sub-img {
        height: 100%;
    }
}