.welcome-container {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;

}

.text-welcome {
    font-weight: 600;
    margin-bottom: 16px;
}

.wel-title {
    font-family: "Aboreto", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
}

.wel-text {
    margin-bottom: 32px;
}

.button-find-location {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    padding: 10px 24px;
    width: 288px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #6f4e37;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-find-location:focus,
.button-find-location:hover {
    opacity: 0.5;
}

.button-find-location:active {
    opacity: 1;
    box-shadow: none;
}

.svg-find {
    fill: #fff;
}

.wel-img-wrapper {
    border-radius: 40px;
    overflow: hidden;
}

.wel-img {
    border-radius: 40px;
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .wel-about {
        display: flex;
        gap: 32px;
    }

    .wel-about-left,
    .wel-about-right {
        flex: 1;
    }

    .wel-title {
        margin-bottom: 0;
    }

    .button-find-location {
        width: 181px;
    }

}

@media screen and (min-width: 1440px) {

    .wel-title {
        font-size: 48px;
    }

    .wel-img {
        margin-top: 80px;
    }
}